.nav__item {
  margin-bottom: 8px;
}

.nav__item:not(:last-child) {
  margin-bottom: 30px;
}

.nav__item img {
  outline: 2px solid var(--blue);
  outline-offset: 2px;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  border-radius: 100px;
}

.nav__link {
  display: flex;
  align-items: center;
}


.active img {
  outline-color: var(--ligthgreen);
}